aiohttp==3.12.6
anyio==3.7.1
anyio==4.9.0
setproctitle==1.3.6
pydantic==2.11.3
imutils==0.5.4
rfc3339_validator==0.1.4
webencodings==0.5.1
Brotli==1.1.0
websockets==13.1
jupyterlab_server==2.27.3
soupsieve==2.6
soupsieve==2.5
PySocks==1.7.1
safetensors==0.5.3
pandocfilters==1.5.1
pandocfilters==1.5.0
jsonschema-specifications==2024.10.1
jsonschema-specifications==2025.4.1
async-lru==2.0.5
gdown==5.2.0
ipython==8.18.1
tinycss2==1.4.0
nvidia-cusparselt-cu12==0.6.3
MarkupSafe==2.1.5
python-magic==0.4.27
typeguard==4.4.2
terminado==0.18.1
notebook==7.4.1
multidict==6.4.4
plumbum==1.9.0
aiohappyeyeballs==2.6.1
platformdirs==4.3.7
dill==0.3.8
widgetsnbextension==4.0.14
cachetools==5.5.0
pytz==2025.2
cffi==1.17.1
overrides==7.7.0
jsonschema==4.20.0
typing_extensions==4.13.2
nvidia-cufile-cu12==1.11.1.6
isoduration==20.11.0
executing==2.2.0
typing_utils==0.1.0
importlib_metadata==8.6.1
GitPython==3.1.44
pyzmq==24.0.1
pyzmq==26.4.0
nvidia-nccl-cu12==2.26.2
certifi==2025.1.31
nvidia-cuda-runtime-cu12==12.6.77
sentry-sdk==2.29.1
nest_asyncio==1.6.0
pydicom==2.4.4
bleach==6.2.0
pyarrow==20.0.0
pycparser==2.22
nvidia-nvjitlink-cu12==12.6.85
watchfiles==0.24.0
httpcore==1.0.9
numpy==1.26.4
nvidia-cusparse-cu12==12.5.4.2
cached-property==1.5.2
pandas==1.5.2
imagesize==1.4.1
uri-template==1.3.0
PyYAML==6.0.2
prometheus_client==0.21.1
nbclassic==0.5.6
six==1.17.0
entrypoints==0.4
trimesh==4.5.0
aiosignal==1.3.2
jupyter_client==7.4.9
jupyter_client==8.6.3
referencing==0.36.2
cssselect==1.3.0
wheel==0.45.1
tqdm==4.67.1
python-json-logger==2.0.7
future==1.0.0
defusedxml==0.7.1
exceptiongroup==1.2.2
Jinja2==3.1.6
opencv-python==4.11.0.86
pillow==10.2.0
dataframe_image==0.2.7
annotated-types==0.7.0
stringcase==1.2.0
pip==25.0
tzdata==2025.2
yarl==1.20.0
multiprocess==0.70.16
jupyter-lsp==2.2.5
tifffile==2024.8.30
docker-pycreds==0.4.0
jedi==0.19.2
charset-normalizer==3.4.2
charset-normalizer==3.4.1
babel==2.17.0
scipy==1.13.1
xxhash==3.5.0
cycler==0.12.1
greenlet==3.2.2
async-asgi-testclient==1.4.11
lxml==5.4.0
arel==0.3.0
Pygments==2.19.1
inflect==7.5.0
PyJWT==2.10.1
async-timeout==5.0.1
comm==0.2.2
nvidia-nvtx-cu12==12.6.77
prompt_toolkit==3.0.51
json5==0.12.0
uvicorn==0.34.2
nvidia-cudnn-cu12==9.5.1.17
asttokens==3.0.0
aiofiles==24.1.0
attrs==25.3.0
huggingface-hub==0.32.3
fastapi==0.109.0
markdown-it-py==3.0.0
typing-inspection==0.4.1
h11==0.16.0
pyparsing==3.2.3
numerize==0.12
wandb==0.19.11
zipp==3.21.0
pycocotools==2.0.9
jsonpointer==3.0.0
mpmath==1.3.0
pickleshare==0.7.5
eval_type_backport==0.2.2
nvidia-cusolver-cu12==11.7.1.2
pure_eval==0.2.3
rich==14.0.0
scikit-image==0.18.2
ptyprocess==0.7.0
rpds-py==0.24.0
stack_data==0.6.3
zstd==1.5.7.0
jupyterlab==4.4.1
zstandard==0.23.0
datasets==3.6.0
argon2-cffi==23.1.0
pynrrd==0.4.3
bidict==0.23.1
Send2Trash==1.8.3
colorama==0.4.6
setuptools==75.8.0
cssutils==2.11.1
jupyter-events==0.12.0
ipywidgets==8.1.7
matplotlib-inline==0.1.7
httptools==0.6.4
matplotlib==3.4.2
debugpy==1.8.14
pyee==13.0.0
uvloop==0.21.0
varname==0.14.0
PTable==0.9.2
packaging==24.2
packaging==25.0
PyWavelets==1.4.1
torch==2.7.0
protobuf==3.20.3
notebook_shim==0.2.4
requests-toolbelt==0.10.1
nbformat==5.10.4
argon2-cffi-bindings==21.2.0
kiwisolver==1.4.7
propcache==0.3.1
nbconvert==7.16.6
playwright==1.52.0
torchvision==0.22.0
xmltodict==0.13.0
jupyter_core==5.7.2
urllib3==2.4.0
urllib3==1.26.15
ipykernel==6.29.5
dataset-tools==0.1.7
pydantic_core==2.33.1
pandoc==2.4
supervisely==6.73.370
jupyter_server==2.15.0
SimpleITK==2.4.1
tornado==6.4.2
arrow==1.3.0
python-multipart==0.0.12
giturlparse==0.12.0
beautifulsoup4==4.13.4
fsspec==2025.3.0
shapely==2.0.2
filelock==3.18.0
triton==3.3.0
nvidia-curand-cu12==10.3.7.77
idna==3.10
nvidia-cufft-cu12==11.3.0.4
importlib_resources==6.5.2
Pympler==1.0.1
ffmpeg-python==0.2.0
imageio==2.37.0
starlette==0.35.1
nvidia-cuda-nvrtc-cu12==12.6.77
networkx==3.2.1
timm==1.0.15
jupyter_server_terminals==0.5.3
sympy==1.14.0
websocket-client==1.8.0
python-dotenv==1.0.0
hyperframe==6.1.0
ipython-genutils==0.2.0
memory-profiler==0.61.0
smmap==5.0.2
distinctipy==1.3.4
httpx==0.27.2
more-itertools==10.7.0
jupyterlab_pygments==0.3.0
ply==3.11
requests==2.32.3
click==8.1.8
jsonpatch==1.33
geojson==3.2.0
psutil==5.9.8
mistune==3.1.3
nvidia-cuda-cupti-cu12==12.6.80
fastjsonschema==2.21.1
cacheout==0.14.1
nvidia-cublas-cu12==12.6.4.1
decorator==5.2.1
traitlets==5.14.3
wcwidth==0.2.13
python-dateutil==2.9.0.post0
hpack==4.1.0
rfc3986-validator==0.1.1
fqdn==1.5.1
mdurl==0.1.2
titlecase==2.4.1
parso==0.8.4
pexpect==4.9.0
h2==4.2.0
jupyterlab_widgets==3.0.15
hf-xet==1.1.2
types-python-dateutil==2.9.0.20241206
pkgutil_resolve_name==1.3.10
nbclient==0.10.2
webcolors==24.11.1
frozenlist==1.6.0
tomli==2.2.1
gitdb==4.0.12
sniffio==1.3.1
